:root {
    --pri-color: #002F87;
    --sec-color: #00E600;
    --white-color: #ffffff;
    --black-color: #222222;
    --p-color: #444444;
    --background-color: #f9f9f9;
}

.btn_w {
    width: 160px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn_w a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    color: var(--white-color);
}

.btn_b {
    width: 160px;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn_b a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    color: var(--black-color);
}

.inner {
    max-width: 1530px;
    margin: 0 auto;
}

.default {
    padding: 100px 0;
}

.tit {
    margin: 0 0 40px 0;
}

.tit h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: var(--black-color);
}

.tit p {
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: var(--pri-color);
}

@media(max-width: 480px) {
    .inner {
        padding: 0 16px;
    }

    .btn_w {
        width: 120px;
        height: 40px;
    }

    .btn_w a {
        line-height: 40px;
        font-size: 12px;
    }

    .btn_b {
        width: 120px;
        height: 40px;
    }

    .btn_b a {
        line-height: 40px;
        font-size: 12px;
    }

    .default {
        padding: 40px 0;
    }

    .tit {
        margin: 0 0 24px 0;
    }

    .tit h2 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: var(--black-color);
    }

    .tit p {
        margin: 0 0 16px 0;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        color: var(--pri-color);
    }
}