#header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid transparent;
    /* transition: 0.5s; */
}



#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

#header .inner .logo a {
    display: block;
    width: 121px;
    height: 32px;
    background: url(../images/logo_w.png)no-repeat center center;
}

#header .inner .gnb>ul {
    display: flex;
    align-items: center;
}

#header .inner .gnb>ul>li>a {
    padding: 0 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    display: block;
}

#header .sub {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: var(--white-color);
    height: 440px;
    padding: 24px 0;
    border-top: 1px solid #ddd;
}



#header .sub::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 1200px);
    height: 100%;
    background: #f9f9f9;
}

#header .sub>li {
    width: calc(100% - 1200px);
}

#header .sub>li>a {
    z-index: 9;
    position: relative;
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    color: #222;
    padding: 0 40px 0 0;
}

#header .sub_list {
    z-index: 1000;
    position: absolute;
    top: 24px;
    left: calc(100% - 1200px);
    width: calc(1200px - (100% - 1200px));

    opacity: 0;
    visibility: hidden;
    /* transition: 0.3s; */
}

#header .sub_list>li {}

#header .sub_list>li>a {
    z-index: 9;
    position: relative;
    display: block;
    padding: 0 0 0 40px;
    font-size: 16px;
    line-height: 48px;
    color: #444;
}



/* 메뉴버튼 */
#header .inner .util {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: var(--body-color);
}

#header .inner .util .mbtn {
    position: relative;
    z-index: 9;
    font-size: 0;
    width: 30px;
    height: 30px;
}

#header .inner .util .mbtn::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--white-color);
}

#header .inner .util .mbtn::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--white-color);
}

#header .inner .util .mbtn span::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    right: 4px;
    height: 2px;
    transition: 0.5s;
    background: var(--white-color);
    visibility: hidden;
    opacity: 0;
}

#header .inner .util .mbtn span::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    right: 4px;
    height: 2px;
    /* transition: 0.5s; */
    background: var(--white-color);
}

#header .inner .util .mbtn.on::before {
    display: none;
}

#header .inner .util .mbtn.on::after {
    display: none;
}

#header .inner .util .mbtn.on span::before {
    transform: rotate(45deg);
    visibility: visible;
    opacity: 1;
}

#header .inner .util .mbtn.on span::after {
    transform: rotate(-45deg);
    visibility: visible;
    opacity: 1;
}


@media(min-width: 1400px) {

    /* header:hover */
    #header:hover {
        background: var(--white-color);
    }

    #header:hover .inner .logo a {
        background: url(../images/logo.png)no-repeat center center;
    }

    #header:hover .inner .gnb>ul>li>a {
        color: var(--black-color);
    }

    #header:hover .inner .util .mbtn::before,
    #header:hover .inner .util .mbtn::after,
    #header:hover .inner .util .mbtn span::before,
    #header:hover .inner .util .mbtn span::after {
        background: var(--black-color);
    }

    #header .inner .gnb>ul>li:hover .sub {
        display: block;
    }

    #header .sub>li:hover .sub_list {
        opacity: 1;
        visibility: visible;
        /* transition: 0.3s; */
    }
}


/* header.on, header.menu_on */
#header.on,
#header.menu_on {
    background: #fff;
    border-bottom: 1px solid #ddd;
    /* transition: 0.5s; */
}

#header.on .inner .logo a,
#header.menu_on .inner .logo a {
    background: url(../images/logo.png)no-repeat center center;
}

#header.on .inner .gnb>ul>li>a,
#header.menu_on .inner .gnb>ul>li>a {
    color: var(--black-color);
}

#header.on .inner .gnb>ul>li>a,
#header.menu_on .inner .util button {
    color: var(--black-color);
}

#header.on .inner .util .mbtn::before,
#header.on .inner .util .mbtn::after,
#header.on .inner .util .mbtn span::before,
#header.on .inner .util .mbtn span::after {
    background: var(--black-color);
}

#header.menu_on .inner .util .mbtn::before,
#header.menu_on .inner .util .mbtn::after,
#header.menu_on .inner .util .mbtn span::before,
#header.menu_on .inner .util .mbtn span::after {
    background: var(--black-color);
}


@media(max-width: 1400px) {
    #header .sub::after {
        width: calc(100% - 1000px);
    }

    #header .sub>li {
        width: calc(100% - 1000px);
    }

    #header .sub_list {
        left: calc(100% - 1000px);
        width: calc(1000px - (100% - 1000px));
    }
}

@media(max-width: 1400px) {
    #header .gnb {
        visibility: hidden;
        opacity: 0;
    }
}

@media(max-width: 480px) {

    #header,
    #header.on,
    #header.menu_on {
        border-bottom: none !important;
    }

    #header .inner .logo a,
    #header.on .inner .logo a,
    #header.menu_on .inner .logo a {
        width: 84px;
        height: 22px;
        background-size: cover;
    }

    #header .inner {
        height: 60px;
    }

    #header .gnb {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        padding: 0;
        background: var(--white-color);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        overflow: scroll;
    }

    #header .gnb.on {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

    #header .inner .gnb>ul {
        flex-direction: column;
        align-items: baseline;
    }

    #header .inner .gnb>ul>li {
        width: 100%;
    }

    #header .inner .gnb>ul>li>a {
        padding: 0;
        font-size: 18px;
        line-height: 56px;
        text-align: center;

    }

    #header .sub {
        position: static;
        padding: 0;
        height: auto;
        border: none;
        background: #f9f9f9;
    }

    #header .sub::after {
        content: none;
    }

    #header .sub>li {
        width: 100%;
    }

    #header .sub>li>a {
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        border-top: 1px solid #f1f1f1;
        color: #222;
    }

    #header .sub>li:first-child>a {
        border: none;
    }

    #header .sub_list {
        display: none;
        position: static;
        width: 100%;
        opacity: 1;
        max-height: 200px;
        overflow: scroll;
        visibility: visible;
        background: #f1f1f1;
    }

    #header .sub_list>li>a {
        padding: 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        text-align: center;
    }
}

/* 메인 비주얼 */

.main_visual {
    position: relative;
    height: 100vh;
    background: url(../images/main_slide_01.jpg)no-repeat center center/cover;
}

.main_visual .slg {
    position: absolute;
    max-width: 1530px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main_visual .slg .txt_box h2 {
    margin: 0 0 40px 0;
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.main_visual .slg .txt_box p {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 40px 0;
}

@media(max-width: 480px) {

    .main_visual .slg {
        padding: 0 16px;
    }

    .main_visual .slg .txt_box h2 {
        margin: 0 0 16px 0;
        font-size: 20px;
        line-height: 28px;
    }

    .main_visual .slg .txt_box p {
        margin: 0 0 24px 0;
        font-size: 14px;
        line-height: 22px;
    }
}

/* 메인 비주얼 끝*/
/* 메인 컨텐트 */

.main_content .content_itm_box {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main_content .content_itm_box>* {
    flex: 1;
    overflow: hidden;
    height: 640px;
    position: relative;
    transition: 1s;
}

.main_content .content_itm_box .itm {
    position: relative;
}

.main_content .content_itm_box .itm::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.4);
}

.main_content .content_itm_box .itm.on {
    flex: 8;
}

.main_content .content_itm_box .itm01 {
    background: url(../images/main_content_itm01_bg.jpg)no-repeat center center/cover;
}

.main_content .content_itm_box .itm02 {
    background: url(../images/main_content_itm02_bg.jpg)no-repeat center center/cover;
}

.main_content .content_itm_box .itm03 {
    background: url(../images/main_content_itm03_bg.jpg)no-repeat center center/cover;
}

.main_content .content_itm_box .itm .slg {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_content .content_itm_box .itm .slg p {
    writing-mode: vertical-rl;
}

.main_content .content_itm_box .itm .slg strong {
    display: none;
}

.main_content .content_itm_box .itm .slg .btn_w {
    display: none;
}

.main_content .content_itm_box .itm.on .slg {
    flex-direction: column;
}

.main_content .content_itm_box .itm.on .slg p {
    margin: 0 0 24px 0;
    writing-mode: unset;
}

.main_content .content_itm_box .itm.on .slg strong {
    display: block;
    margin: 0 0 40px 0;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    width: 700px;
}

.main_content .content_itm_box .itm.on .slg .btn_w {
    display: block;
}

@media(max-width: 480px) {
    .main_content .content_itm_box>* {
        flex: unset;
        width: 100%;
        height: 40px;
    }

    .main_content .content_itm_box .itm.on {
        flex: unset;
        height: 300px;
    }

    .main_content .content_itm_box .itm .slg p {
        writing-mode: unset;
        font-size: 14px;
    }

    .main_content .content_itm_box {
        flex-direction: column;
    }

    .main_content .content_itm_box .itm.on .slg p {
        font-size: 14px;
        line-height: 14px;
    }

    .main_content .content_itm_box .itm.on .slg strong {
        font-size: 16px;
        line-height: 24px;
        width: 400px;
    }
}

/* 메인 컨텐트 끝*/